/* border-box all */
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    font-size: 62.5%;
}

/* ========= layout ========== */
.body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

}
.mainContainer{

    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.middleArea{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    width: 80%;
    height: 100%;
}
.horizontalLine{
    height:10vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  
}
.tutorial{
    z-index: 3;
    background-color: rgba(255, 255, 255, 1);
    width: 80%;
    height: 80%;
    border: 2px solid #34495e;
    border-radius: 4px;
    text-align: center;
    display: flex;
    position: absolute;
    margin: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.course{
    width:90%;
    height: 60%;
    border: 1px black solid;
    background-color: white;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
}
.semester{
    flex:1;
}
.summer{
    flex:0.5;
}
.filler{
    margin-left: 10px;
    width:90%;
    height: 60%;
    background-color: white;
}
.info{
    margin-bottom: 5px;
    width:90%;
    height: 40%;
    background-color: white;
    margin-left: 10px;
}

aside{
    margin-left: 5px;
    width: 17.5vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid grey;
    flex-direction: column;
}
aside > *{
    margin-left: 5%;
}
form{
    height: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}
aside ul{
    height: 80%;

}

/*========================= specifc layouts ==================== */

/* ===============  styles      ================= */

.tutorial h1{
    font-size: 3.6rem;
    padding: 20px 0;
    text-align: center;
}
.tutorial h2{
    font-size: 2.4rem;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}
.tutorial button{
    width: 50%;
    height: 10%;
}
div h2{
    font-size: 1.6rem;
    width: 70%;

    text-align: center;
}
.info h2{
    width: 100%;
}
.course span{
    color: rgb(170, 5, 5);
}
li{
    font-size: 18px;
    margin-bottom: 5px;
}
.borderTop{
    border-top: 2px solid grey;
}
.borderBot{
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
}

.appendexColor{
    display: inline-block;
    height: 20px;
    width: 40px;
    border: 1px solid black;
    border-radius: 4px;
}
.black{
    background-color: black;
}
.white{
    background-color: white;

}
.blue{
    background-color: rgb(142, 202, 230);

   
}
.cyan{
    background-color: rgb(2, 195, 154);

   
}
.yellow{
    background-color: rgb(255, 183, 3);

   
}

/* phones */


@media screen and (max-width :480px ) {
    *{
        font-size: 1rem;
    }
    div h2 {
        font-size: 1rem;
    }
    .course{
        width: 100%;
        height: 90%;
        margin-left: 1px;
        flex-direction: column;

    }
    .filler{
        display: none;
    }
    #years{
        font-size: 0.8rem;
    }
    .tutorial > h1 , .tutorial > h2 {
        font-size: 1.4rem;
    }
    .tutorial > li {
        font-size: 1rem;
    }

}
/* iPades */
@media screen and (min-width :481px ) {
    *{
        font-size: 1.1rem;
    }
    div h2 {
        font-size: 1.1rem;
    }




}
/* big screens */
@media screen and (min-width :800px ) {
    *{
        font-size: 1.6rem;
    }
    div h2 {
        font-size: 1.6rem;
    }


}
